<div class="container">
  <app-groups (groupSelect)="onGroupSelect($event)"></app-groups>

  <div class="chat-container">
    <div class="message-container">
      <ng-container *ngFor="let message of messages">
        <app-chat-bubble [user]="message.user" [content]="message.content"></app-chat-bubble>
      </ng-container>
    </div>

    <form [formGroup]="inputForm" (submit)="sendMessage()">
      <input formControlName="input" placeholder="Type here to send a message..." />
    </form>
  </div>
</div>