<div class="container">
    <h2 *ngIf="messages.length == 0; else messageList">No messages here...</h2>
    <ng-template #messageList>
        <ul id="messages">
            <li *ngFor="let message of messages">
                <span [innerHTML]="isSystemMessage(message)"></span>
            </li>
        </ul>
    </ng-template>
    <form>
        <input [(ngModel)]="chatBox" [ngModelOptions]="{standalone: true}" autocomplete="off" />
        <button (click)="send()">Send</button>
    </form>
</div>