.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.username {
    font-weight: bold;
}

.chat-bubble-container {
    max-width: 100%;
}

.chat-bubble {
    position: relative;
    background-color: var(--accent-color);
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
    max-width: 100%;
    text-wrap: wrap;
}
