<div class="container">
    <h2 class="icon-label">
        <span class="material-icons groups">groups</span>
    </h2>
    <div class="add-group-btn icon-label" (click)="openNewGroupDialog()">
        <span id="group-label">Groups</span>
        <span class="material-icons add">add</span>
    </div>
    <div id="group-list">
        <div *ngFor="let group of groups" class="group-list-item" (click)="onGroupSelect(group)">
            <span>{{ group.roomName }}</span>
        </div>
    </div>
</div>
